
workspace/vb-backend-1/.classpath
workspace/vb-backend-1/.project
workspace/vb-backend-1/.settings/.jsdtscope
workspace/vb-backend-1/.settings/org.eclipse.jdt.core.prefs
workspace/vb-backend-1/.settings/org.eclipse.jpt.core.prefs
workspace/vb-backend-1/.settings/org.eclipse.m2e.core.prefs
workspace/vb-backend-1/.settings/org.eclipse.wst.common.component
workspace/vb-backend-1/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
workspace/vb-backend-1/.settings/org.eclipse.wst.common.project.facet.core.xml
workspace/vb-backend-1/.settings/org.eclipse.wst.jsdt.ui.superType.container
workspace/vb-backend-1/.settings/org.eclipse.wst.jsdt.ui.superType.name
workspace/vb-backend-1/.settings/org.eclipse.wst.validation.prefs
workspace/vb-backend-1/.settings/org.hibernate.eclipse.console.prefs
workspace/RemoteSystemsTempFiles/.project
