<div id="wra" ondblclick="showVerb()">
    <div id="boxJsonPayloadHolder" style="display: none">{{ body }}</div>
    <div id="playIndexPayloadHolder" style="display: none">{{ playIndexes}}</div>
    <script src="/js/play.js"></script>
    <div id="app">
        <div class="card text-center">
            <div class="card-header bg-light">
                <div class="progress">
                    <div id="currentBoxProgress" class="progress-bar bg-info" role="progressbar"
                         style="width: {{this.levelBackLow}}%"
                         aria-valuenow="" aria-valuemin="0"
                         aria-valuemax="100">%
                    </div>
                </div>
                <div class="text-muted">From <b class="boxLangFront">-</b> to <b class="boxLangBack">-</b></div>
                <div class="progress">
                    <div id="levelBackLow" class="progress-bar bg-danger" role="progressbar"
                         style="" aria-valuenow=""
                         aria-valuemin="0" aria-valuemax="100">%
                    </div>
                    <div id="levelBackMid" class="progress-bar bg-warning" role="progressbar"
                         style="" aria-valuenow=""
                         aria-valuemin="0" aria-valuemax="100">
                    </div>
                    <div id="levelBackHigh" class="progress-bar bg-success" role="progressbar"
                         style="" aria-valuenow=""
                         aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>

                <div class="text-muted">From <b class="boxLangBack">-</b> to <b class="boxLangFront">-</b></div>
                <div class="progress">
                    <div id="levelFrontLow" class="progress-bar bg-danger" role="progressbar"
                         style="width: {{this.levelBackLow}}%"
                         aria-valuenow="" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                    <div id="levelFrontMid" class="progress-bar bg-warning" role="progressbar"
                         style="" aria-valuenow=""
                         aria-valuemin="0" aria-valuemax="100">
                    </div>
                    <div id="levelFrontHigh" class="progress-bar bg-success" role="progressbar"
                         style="" aria-valuenow=""
                         aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="card-body bg-white">
                <i class="fa fa-headphones" aria-hidden="true" onclick="listenSideA()"></i>
                <h5 id="sideA"></h5>
                <div class="text-muted" id="sideATranscription"></div>
            </div>
            <div class="card-body bg-white">
                <h5 id="sideB"></h5>
                <div class="text-muted" id="sideBTranscription"></div>
                <i class="fa fa-headphones" aria-hidden="true" onclick="listenSideB()"></i>
            </div>
            <div class="card-footer">
                <div id="showVerbHolder">
                    <button class="btn btn-secondary" onclick="showVerb()">Show</button>
                </div>
                <div id="correctWrongHolder">
                    <button class="btn btn-danger" onclick="markedWrong()">Wrong</button>
                    <button class="btn btn-success" onclick="markedCorrect()">Correct</button>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-info" onclick="saveProgress()">Save progress</button>
                <div id="lastSaved" class="text-muted"></div>
            </div>
        </div>
    </div>
    <script>
        // self executing function here
        (function () {
            // your page initialization code here
            // the DOM will be available here
            loadPlay();
            startPlay();
        })();
    </script>
</div>